.pageTitle {
    color: var(--Forground_2);
    background-color: var(--Background_2);
    height:10vh;
    text-align: center;
    display: grid;
    align-content: center;
}

.compare {
    color: var(--Forground_3);
    background-color: var(--Background_3);
    display: grid;
    grid-template-columns: 20vw repeat(1,1.5fr);
}
.label
{
    display: grid;
    align-items: center;
    justify-content: space-around;
}
.label *,.item *
{
    min-height: 40px;
}

.Img
{
    height: 20vh;
}
.itemCol
{
    display: grid;
    padding-left: 1%;
    align-items: center;
}
.title.itemCol
{
    width: 100%;
    color: var(--Background_1);
    background-color: var(--Forground_2);
}
.Img.itemCol
{
    display: grid;
    align-items: center;
    justify-content: center;
}