.heading {
  font-size: 36px;
  font-weight: bold;
  color: #0c0b0b;
  text-align: center;
  padding: 20px;
  background-color: #0cbbeb;
}
/* Style for the product table */
#product-table {
  border-collapse: collapse;
  width: 100%;
  font-family: Arial, sans-serif;
  font-size: 14px;
  margin-bottom: 20px;
}

#product-table th,
#product-table td {
  padding: 10px 20px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

#product-table th {
  background-color: #f5f5f5;
  color: #555;
  font-weight: bold;
}

#product-table tr:hover {
  background-color: #f9f9f9;
}

#product-table td:first-child {
  display: flex;
  align-items: center;
}

#product-table img {
  height: 80px;
  margin-right: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

#product-table td:last-child {
  font-weight: bold;
  color: #333;
  text-align: right;
}

@media only screen and (max-width: 768px) {
  #product-table td:first-child {
    flex-direction: column;
    align-items: flex-start;
  }
  #product-table img {
    height: 60px;
    margin-right: 0;
    margin-bottom: 10px;
  }
}
