body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    animation: color-changing 5s infinite alternate;
  }

  @keyframes color-changing {
    0% {
      background-color: #19171fdb;
    }
    25% {
      background-color: #1e1b23db;
    }
    50% {
      background-color: #24252cdb;
    }
    75% {
      background-color: #2b2f36db;
    }
    100% {
      background-color: #333a42db;
    }
  }
  
  
  /* Table styles */
  #build-list {
    padding: 20px;
  }
  
  .table-container {
    display: table;
    width: 100%;
  }
  
  .table-row {
    display: table-row;
    font-size: 14px;
  }

  .table-row:nth-child(2n+2) {
    animation: color-change 5s infinite alternate;
  }
  
  @keyframes color-change {
    0% {
      background-color: #12181f;
    }
    50% {
      background-color: #271b14;
    }
    100% {
      background-color: #12181f;
    }
  }
  
  
  .table-cell {
    display: table-cell;
    padding: 10px;
    border: 1px solid #ccc;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
  .table-cell:nth-child(2) {
    display: table-cell;
    padding: 8px 16px;
    border: 0.1rem solid #ccc;
    font-size: 13px;
  }
  
  .table-header {
    font-weight: bold;
    background-color: #eee;
  }
  
  .table-cell:last-child {
    text-align: center;
  }
  
  .table-cell:last-child a {
    color: #1498c8;
    background-color: none;
    padding: 5px 10px;
    text-decoration: underline;
  }
  

footer {
    background-color: #5d5a5a;
    color: #fff;
    padding: 1px;
    text-align: center;
}


.btn-add {
  display: inline-block;
  background-color: rgba(0, 157, 255, 0.783);
  color: white;
  padding: 8px 16px;
  text-decoration: none;
  border-radius: 8px;
  transition: background-color 0.2s ease;
}

.btn-add:hover {
  background-color: #0066cc;
}

.btn-add i {
  margin-right: 8px;
}

.btn-add i:before {
  font-size: 13px;
  line-height: 1;
}
