.NewReleases
{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    background-color: var(--Background_5);
    height:30vh;
}

.News,.Launch
{
    background-color: var(--Background_5);
    position: relative;
    height:100%;
    box-sizing: border-box;
    background-clip:border-box ;
}
.News .h1,.Launch .h1
{
    position: absolute;
    bottom: 20%;
    left:2.5%
}
.News .article, .Launch .article
{
    position: absolute;
    bottom: 10%;
    left:2.5%
}

.h1
{
    max-width: 90%;
    height:1em;
    white-space: nowrap;
}
.h1,.article
{
    color: var(--Forground_1);   
    overflow: hidden;
    text-overflow: ellipsis;
}
.article
{
    font-size: .4em;
}
.image
{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.darkbg
{
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: linear-gradient(var(--rot),var(--c1) var(--pos1),var(--c2) var(--pos2));
}
@media screen and (max-width: 720px)
{
    .NewReleases
    {
        grid-template-columns: repeat(2,1fr);
        height:40vh;
    }
    .News,.Launch
    {
        height:20vh;
    }
    .h1
    {
        font-size: .9em;
    }
    .News .h1,.Launch .h1
    {
        bottom: 20%;
    }
}